<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/left', user: @user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @book_show.user, :profile_image, format: 'jpeg', size: "40x40", fallback: "no_image.jpg" %><br />
              <%= link_to user_path(@book_show.user) do %>
                <%= @book_show.user.name %>
              <% end %>
            </td>
            <td><%= @book_show.title %></td>
            <td><%= @book_show.body %></td>
            <!--ログインユーザーと投稿のユーザーが一致している場合のみ表示-->
            <% if @book_show.user_id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path, class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path, method: :delete, class: "btn btn-sm btn-danger",data: { confirm: "本当に消しますか？" }  %></td>
            <% end %>
            <!-------------------------------------------------------------->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>